body {
    font-family:sans-serif;
    color: rgb(5, 5, 5);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://img.freepik.com/premium-photo/dark-wall-halloween-background-concept-scary-background-horror-texture-banner_526818-623.jpg);
}
#box {
    border-radius: 20px;
    background-color: white;
    width: 350px;
    height: 470px;
    border: 2px solid black;
    padding: 20px;
    margin-left: 20%;
    margin-top: 100px;
    
}
input, select, textarea {
    border-radius: 10px;
    margin-top: 8px;
    padding: 7px;
    background-color: rgb(231, 239, 241);
    border: 0px;
    
}
#name,#email,#phone,#feedback,#message,#button,#clear,#Image{
    width: 90%;
    
}
#box h1 {
    text-align: center;
    color: rgb(39, 74, 119);
}
#clear {
    background-color: rgb(39, 74, 119);
    color: white;
}
#button {
    margin-top: 8px;
    background-color: rgb(39, 74, 119);
    border: 1px solid gray;
    color: white;
    padding: 10px;
    border-radius: 5px;
    

}